<!-- PageSpeed API Options -->
<div class="form-group">
	<label>Options</label>
	<div class="input-group">
		<label class="input-group-addon">API key</label>
		<input id="pagespeed-query" class="form-control" type="url" placeholder="API key can be found in the Google Developer Console">
	</div>
	<label class="checkbox-inline">
		<input type="checkbox" ng-model="pagespeedOptionsCtrl.options.desktop"> Desktop statistics
	</label>
	<label class="checkbox-inline">
		<input type="checkbox" ng-model="pagespeedOptionsCtrl.options.desktopScreenshot"> Desktop screenshot
	</label>
	<label class="checkbox-inline">
		<input type="checkbox" ng-model="pagespeedOptionsCtrl.options.mobile"> Mobile statistics
	</label>
	<label class="checkbox-inline">
		<input type="checkbox" ng-model="pagespeedOptionsCtrl.options.mobileScreenshot"> Mobile screenshot
	</label>
</div>
